.about {
    background-color: #FAFEFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 70%;
    padding-left: 20%;
}

.about__top {
    display: flex;
    flex-direction: column;
}

.about__top > p {
    color: #635bff;
    font-weight: bolder;
}

.about__top > h3 {
    font-size: xx-large;
    font-weight: bolder;
    width: 50%;
}

.about_middle {
    width: 50%;
}