.header {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    min-height: 46px;
    align-items: center;
    color: black;
    font-weight: 700;
    width: 70%;
}
.header__left {
    padding: 4px;
    margin: -4px;
    display: block;
    outline: none;
    cursor: pointer;
}
.header__left>p {
    padding: 10px 20px;
    font-size: x-large;
}
.header__middle {
    display: flex;
    justify-content: space-between;
}
.header__middle>p {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-size: large;
}

.header__right {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;
    font-size: large;
}
.header__right:hover {
    background-color: cyan;
    color: white;
    font-weight: bold;
}
.header__right>p {
    padding: 10px 20px;    
}