.header__wrapper {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}

.header__logo {
  margin-left: 48px;
  font-weight: bolder;
  font-size: larger;
}

.header__menuItems {
  margin-right: 48px;
  display: flex;
}

.header__menuItems h1 {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.header__menuItems h1:hover,
.header__menuItems h1:active {
  color: #5ac53b;
}

a:first-of-type {
  color: #5ac53b;
}
